@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root {
  --white: #f6f6f6;
  --black: #181818;
  --grey: #474747;
  --light-grey: #ebe9ea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-size: -2px;
  font-family: 'Montserrat';
}

body {
  background-color: var(--white);
}

#descont-header {
  display: flex;
  justify-content: center;
  background-color: var(--black);
  padding-top: 20px;
  padding-bottom: 20px;
}

#descont-header a {
  text-decoration: none;
  font-size: 14px;
  color: var(--white);
}

#title-header {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-weight: 500;
  padding-bottom: 15px;
}

#title-header a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
}

#container-nav {
  color: var(--white);
  width: 100%;
  min-height: 378px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(./images/Air-Jordan.png);
}

#container-nav::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 378px;
  background-color: rgba(24, 24, 24, 1);
  opacity: 0.6;
}

#container-nav figure {
  position: absolute;
  top: 35%;
  left: 7%;
}

#container-nav h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

#container-nav p {
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
}

#container-destaque {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#container-destaque h1 {
  padding-top: 60px;
  padding-bottom: 25px;
  color: var(--black);
}

#container-destaque p {
  font-size: 18px;
  padding-bottom: 55px;
  color: var(--grey);
  text-align: center;
}

#container-jordans {
  display: flex;
  flex-wrap: wrap;
  max-width: 1800px;
  margin: auto;
  justify-content: center;
}

#container-jordans > article {
  flex: 0 1 1px;
  margin: 10px;
  margin-bottom: 40px;
}

.post {
  background-color: var(--light-grey);
  padding: 76px 25px;
}

.post img {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 60px;
}

/*Mobile responsive*/

@media screen and (max-width: 425px) {
  #descont-header a {
    font-size: 13px;
  }  

  #container-nav figure {
    position: absolute;
    top: 31%;
    left: 6%;
  }

  #container-nav h1{
    font-size: 28px;
  }

  #container-nav p{
    font-size: 16px;
    padding-right: 37px;
  }

  #container-destaque h1 {
    font-size: 28px;
  }

  #container-destaque p {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #container-jordans > article{
      margin-bottom: 20px;
  }

  .post{
      padding: 55px 68px;
  }

}
